@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.cart {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border-bottom: 1px solid gray; */
}
.cart-details {
    display: flex;
    gap: 10px;
}
.cart-images {
    width: 80px;
    height: auto;
}
.cart-middle {
    margin-left: 20px;
    width:750px;

}
.cart-product-names {
    font-size: 25px;
}

.cart-prices {
    font-size: 22px;
    margin-bottom: 10px;
}
.cart-item-desc {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.count-item {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}
.cart-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10px; height: 20px;
    color: black;
    align-items: center;
    /* border-radius: 50%; */
    background-color: rgb(151, 235, 216);
    cursor: pointer;
    margin: 0;
}
.cart-counting {
    padding: 0 15px;
}
.total-amount {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: yellow; */
}
.total-amount {
    position: relative;
    margin-left: 350px;
    width: 750px;
    background: #f3dede;
    text-align: right;
    padding: 10px;
    font-size: 20px;
}
.checkout {
    margin-top: 10px;
    margin-left: 650px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px 10px;
    color: rgb(69, 231, 29);
    background: #636663;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal form {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .modal label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .modal input,
  .modal select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  .modal button[type="submit"] {
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .modal button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  body.modal-open {
    overflow: hidden;
  }
  .ordered {
    position: absolute;
    left: 20%;
    font-family: 'Courgette', cursive;
    font-size: 48px;
   
  }
  .ordered button {
    margin-left: 120px;
  }
  .ordered button, Link{
    text-decoration: none;
    color: rgb(22, 104, 129);
    font-family: 'Courgette', cursive;
  }

  .fade-in {
    animation: fadeInAnimation 5s ease-in-out; /* Change the duration and animation type as needed */
  }
  
  /* Define the keyframes for the fadeInAnimation */
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px); /* Change the initial position as needed */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Change the final position as needed */
    }
  }

@media (max-width: 768px) {
    .cart{
        margin-top: 150px;
    }
    .cart-images {
        width: 60px;
        height: auto;
    }

    .cart-middle {
        width: 250px;
    }
    .cart-product-names {
        font-size: 12px;
    }
    .cart-item-desc {
        color: gray;
        font-size: 10px;
    }
    .cart-prices {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .cart-btn {
        width: 20px; height: 20px;
        color: white;
        border-radius: 50%;
        background-color: rgb(119, 48, 212);
        outline: none; border: none;
    }
    .checking-out {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .total-amount, .checkout{
        width: 150px;
        margin-left: 10px;
    }
    .total-amount{
        background: #cdeed2;
        color: rgb(145, 124, 124);
        border: 1px solid gray;
        border-radius: 15px;
    }
    .checkout{
        background: #636663;
        color: rgb(69, 231, 29);
        border: 1px solid gray;
        border-radius: 15px;
        padding: 10px 10px;
    }

}