.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forms {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px 25px;
    height: auto;
    gap: 15px;
    border-radius: 15px;
    border: 1px solid rgb(240, 188, 151);
}
.forms h2{
    text-align: center;
    font-size: 28px;
    color: palevioletred;
    font-weight: 700;
}
input {
    width: 93%;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    outline: none;
    border: 1px solid pink;
    border-radius: 5px;
    background-color: rgb(238, 221, 224);
}
label {
    font-size: 18px;
    font-weight: 500;
    padding:10px 0;
}
button {
    padding: 10px 20px;
    margin: 10px 80px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid rgb(241, 208, 213);
    background-color: rgb(223, 37, 65);
    color: white;
    cursor: pointer;
}